nav(class="sticky top-0 flex-no-wrap relative flex w-full items-center justify-between py-2 shadow-md  bg-neutral-600 shadow-black/10 lg:flex-wrap lg:justify-start lg:py-4")
    div(class="flex w-full flex-wrap items-center justify-between px-3")
        button(class="navegacion block border-0 bg-transparent px-2  hover:no-underline hover:shadow-none focus:no-underline focus:shadow-none focus:outline-none focus:ring-0 text-neutral-200 lg:hidden" type="button" data-te-collapse-init data-te-target="#navbarSupportedContent12" aria-controls="navbarSupportedContent12" aria-expanded="false" aria-label="Toggle navigation")
            span(class="[&>svg]:w-7")
                svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="h-7 w-7")
                    path(fill-rule="evenodd" d="M3 6.75A.75.75 0 013.75 6h16.5a.75.75 0 010 1.5H3.75A.75.75 0 013 6.75zM3 12a.75.75 0 01.75-.75h16.5a.75.75 0 010 1.5H3.75A.75.75 0 013 12zm0 5.25a.75.75 0 01.75-.75h16.5a.75.75 0 010 1.5H3.75a.75.75 0 01-.75-.75z" clip-rule="evenodd")
        div(class="responsive !visible hidden flex-grow basis-[100%] items-center lg:!flex lg:basis-auto" id="navbarSupportedContent12" data-te-collapse-item)
            ul(class="list-style-none mr-auto flex flex-col pl-0 lg:flex-row" data-te-navbar-nav-ref)
                li(class="mb-4 lg:mb-0 lg:pr-2" data-te-nav-item-ref)
                    a(class="text-2xl font-bold transition duration-200 hover:ease-in-out  disabled:text-black/30 motion-reduce:transition-none text-neutral-200 hover:text-neutral-300 focus:text-neutral-300 lg:px-2 [&.active]:text-zinc-400" href="/" data-te-nav-link-ref) Comparador
                li(class="mb-4 lg:mb-0 lg:pr-2" data-te-nav-item-ref)
                    a(class="text-sm font-bold  transition duration-200 hover:ease-in-out  disabled:text-black/30 motion-reduce:transition-none text-neutral-200 hover:text-neutral-300 focus:text-neutral-300 lg:px-2  [&.active]:text-zinc-400" href="/favoritos" data-te-nav-link-ref) Favoritos
                li(class="mb-4 lg:mb-0 lg:pr-2" data-te-nav-item-ref)
                    a(class="text-sm font-bold  transition duration-200 hover:ease-in-out  disabled:text-black/30 motion-reduce:transition-none text-neutral-200 hover:text-neutral-300 focus:text-neutral-300 lg:px-2  [&.active]:text-zinc-400" href="/telefonos" data-te-nav-link-ref) Centro de información  
                li(class="mb-4 lg:mb-0 lg:pr-2" data-te-nav-item-ref)
                    form(action="/buscador" method="POST" class="flex lg:flex-row gap-3 items-baseline")
                        input(type="hidden" name="_csrf" value= csrfToken)
                        label(for="termino" class="text-sm uppercase font-bold text-white") Busqueda  
                        input(type="text" id="termino" name="termino"  placeholder="Buscar Productos" class="p-1 shadow text-sm")
                        input(type="submit" value="Buscar" class="bg-indigo-800 rounded-lg hover:bg-indigo-400 text-white uppercase font-bold p-1 cursor-pointer text-sm")
        div(class="relative flex items-center"  data-te-dropdown-ref data-te-dropdown-alignment="end")
            if token
                a(class="relative flex items-center lg:pr-2 text-sm font-bold text-white" href='/auth/login') Iniciar Sesion
                a(class="relative flex items-center lg:pr-2 text-sm font-bold text-white" href='/auth/registro') Crear Cuenta  
            else
                form(action="/auth/cerrar-sesion" method="POST")
                    input(type="hidden" name="_csrf" value=csrfToken) 
                    input(type="submit" class="text-sm font-bold relative flex items-center text-white lg:pr-2 cursor-pointer" value="Cerrar Sesion")         

aside(class="fixed top-auto z-[1035] left-0 bg-neutral-300 w-60 min-h-screen p-4")
    nav
        ul(class="space-y-2")
            li(class="bg-yellow-600")
                div(class="flex items-center justify-center p-2 ")
                    a(class="flex items-center")
                        span Categorias      
            li
                ul(class="ml-4 ")
                    li
                        a(href="/promociones" class="block p-2 hover:bg-gray-700 flex items-center ")
                            span(class="text-md mr-2") Promociones
                    li
                        a(href="/laptops" class="block p-2 hover:bg-gray-700 flex items-center ")
                            span(class="text-md mr-2") Computadoras 
                    li
                        a(href="/telefonos" class="block p-2 hover:bg-gray-700 flex items-center ")
                            span(class="text-md mr-2") Celulares
                    li
                        a(href="/tablets" class="block p-2 hover:bg-gray-700 flex items-center ")
                            span(class="text-md mr-2") Tablets         
            li
                div(class="flex items-center justify-center p-2 bg-yellow-600")
                    div(class="flex items-center")
                        span Filtros     
                ul(class="ml-4 ")
                    li
                        div(class="flex items-center justify-between p-2")
                            div(class="flex items-center")
                               span Valoración
                        div(class="flex items-center justify-between p-2")
                            i(class="far fa-star text-xs")
                            i(class="far fa-star text-xs")
                            i(class="far fa-star text-xs")
                            i(class="far fa-star text-xs")
                            i(class="far fa-star text-xs")    
                    li
                        div(class="flex items-center justify-between p-2")
                            div(class="flex items-center")
                               span Precio
                        div(class="flex items-center justify-between p-2")
                            if precioL
                                p(class="text-xs") $2000
                                input(type="range" class="rango-laptop" name="valor" value=precio min="2000" max="75000" step="1000" class="transparent h-[4px] w-full cursor-pointer appearance-none border-transpar bg-neutral-600" )
                                p(class="text-xs") $75000
                            if precioT
                                p(class="text-xs") $2000
                                input(type="range" class="rango-telefono" name="precio" value=precio min="2000" max="65000" step="1000" class="transparent h-[4px] w-full cursor-pointer appearance-none border-transpar bg-neutral-600" )
                                p(class="text-xs") $65000
                            if precioTb
                                p(class="text-xs") $2000
                                input(type="range" class="rango-tablet" name="precio" value=precio min="2000" max="65000" step="1000" class="transparent h-[4px] w-full cursor-pointer appearance-none border-transpar bg-neutral-600" )
                                p(class="text-xs") $65000
            li
                div(class="flex items-center justify-center p-2 bg-yellow-600")
                    div(class="flex items-center")
                        span Marcas     
                ul(class="ml-4 ")
                    li
                        a(class="block p-2  flex items-center ")
                            span(class="text-md mr-2") Lenovo
                    li
                        a(class="block p-2  flex items-center ")
                            span(class="text-md mr-2") Samsung
                    li
                        a(class="block p-2  flex items-center ")
                            span(class="text-md mr-2") Acer